*{
    margin: 0;
    padding: 0;
}
header{
    background-color: blueviolet;
    height: 100px;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 30px;
    font-size: 45px;
}
nav{
    background-color: violet;
    color: white;
    height: 100px;
    text-align: center;
}
nav h1{
    padding-top: 30px;
    font-size: 35px;
}
.article-section{
      height: 600px;
      background-color: turquoise;
      overflow: hidden;
}
.left-block{
      width: 60%;
      background-color: yellowgreen;
      height: 100%;
      float: left;
}
.right-block{
    width: 40%;
    background-color: tomato;
    height: 100%;
    float: right;
}
.top{
      background-color: olive;
      height: 50%;      
}
.bottom{
      background-color: salmon;
      height: 50%;
}
.top h1{
    padding: 100px;
    color: white;
    text-align: center;
    font-size: 50px;
}
.bottom h1{
    padding: 100px;
    color: white;
    font-size: 50px;
    text-align: center;
}
.right-block h1{
    padding: 200px;
    color: white;
    text-align: center;
    font-size: 50px;
}
footer{
    background-color: teal;
    height: 100px;
}
footer h1{
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 50px
}
